body {
  font-family: "Helvetica Neue", Helvetica, Arial, "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans, sans-serif;
  line-height: 1.5;
  cursor: auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

ul.radical_table {
  margin: 0;
  padding: 0;
}

body a {
  color: #4A80B5;
}

body a:hover {
  color: #222;
}

.radical-area *,
.radical-area *:before,
.radical-area *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.radical_table .radical.available:hover {
  background-color: rgba(0,0,0,0.2);
}

.radical_table {
  background: repeating-linear-gradient(180deg, #fff, #fff 32px, #EDF9FF 32px, #EDF9FF 64px);
  background-repeat: repeat-y;
  background-color: #efefef;
  border-radius: 3px;
  list-style: none;
  text-align: center;
  margin: 0;
}

.radical_table .number,
.radical_table .radical {
  float: left;
}

.radical_table .number {
  font-size: 14px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin: 4px;
  color: #ccc;
  background-color: #333;
  font-weight: bold;
  border-radius: 2px;
}

.radical_table .radical {
  font-size: 22px;
  width: 32px;
  height: 32px;
  line-height: 30px;
  cursor: pointer;
  color: #333;
  border: 2px solid transparent;
}

.radical-3-39 {
  text-indent: 10px;
}
.radical-3-40 {
  text-indent: -15px;
}
