h1, h2, h3 {
  font-family: "Fira Sans", sans-serif;
  color: #222222;
}

h2 {
  font-weight: normal;
  margin-top: 10px;
  font-size: x-large;
}

h2.status {
  margin-top: 30px;
}

p {
    text-align: justify;
}

#container {
  position: relative;
}

#instructions {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}

#main {
  width: 832px;
  margin: 0 auto;
  padding-top: 1em;
}

#instructions ul {
    padding-left: 1.2em;
}

.search-form {
  width: 70%;
  margin: 0 auto;
}

#keyword {
  font-size: 22px;
}

#results {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#results p {
  font-size: 300%;
  margin: 0;
  margin-right: 20px;
}

#container a {
  text-decoration: none;
}

@media (max-width: 1300px) {
  #forkme {
    display: none;
  }

  #instructions {
    margin-top: 4em;
    position: relative;
    width: 600px;
  }
}
