h1, h2, h3 {
  font-family: "Fira Sans", sans-serif;
  color: #222222;
}

h2 {
  font-weight: normal;
  margin-top: 10px;
  font-size: x-large;
}

h2.status {
  margin-top: 30px;
}

p {
  text-align: justify;
}

.submit-btn {
  font-size: 20px;
  height: 100%;
  font-family: inherit;
  background: #5D6;
  border: #1A4 solid 1px;
  border-radius: 3px;
  margin: auto;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.125);
  position: absolute;
  right: 0px;
  width: 18%;
}

#container {
  position: relative;
}

#instructions {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}

#main {
  width: 832px;
  margin: 0 auto;
  padding-top: 1em;
}

#instructions ul {
    padding-left: 1.2em;
}

.search-form {
  position: relative;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 8px;
}

.search-form input[type="text"] {
  width: 80%;
  height: 1.5em;
  font-family: inherit;
  background: white;
  border: #DDD solid 1px;
  padding: 3px 6px;
  box-shadow: inset 0 2px 2px #EEE;
  border-radius: 4px;
}

.search-form input:focus {
  outline: none;
}

.search-form button {
  font-size: 20px;
  height: 100%;
  font-family: inherit;
  background: #6B4;
  border: #593 solid 1px;
  border-radius: 3px;
  margin: auto;
  box-shadow: inset 0 -2px 8px rgba(0, 0, 0, 0.125);
  position: absolute;
  right: 0px;
  width: 18%;
  color: #F8F8F8;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25)
}

.search-form button:active {
  background: #478330;
}

#keyword {
  font-size: 22px;
}

#results {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#results p {
  font-size: 300%;
  margin: 0;
  margin-right: 20px;
}

#container a {
  text-decoration: none;
}

@media (max-width: 1300px) {
  #forkme {
    display: none;
  }

  #instructions {
    margin-top: 4em;
    position: relative;
    width: 600px;
  }
}
