#container {
  position: relative;
}

#instructions {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}

#main {
  width: 832px;
  margin: 0 auto;
  padding-top: 1em;
}

.search-form {
  width: 70%;
  margin: 0 auto;
}

#keyword {
  font-size: 22px;
}

#results {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#results p {
  font-size: 300%;
  margin: 0;
  margin-right: 20px;
}

h3.status {
  margin-top: 30px;
}

#container a {
  text-decoration: none;
}

@media (max-width: 1300px) {
  #forkme {
    display: none;
  }

  #instructions {
    margin-top: 4em;
    position: relative;
    width: 400px;
  }
}
